<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
    <bean id="address" class="com.garvit.it.Address">
    <property name="city" value="Jaipur"></property>
    <property name="Country" value="India"></property>
    <property name="pinCode" value="202020"></property>
    </bean>
    
    <!--  <bean id="student1" class="com.garvit.it.Student"  autowire="byName"></bean>     -->
    
    
    
    <bean id="student2" class="com.garvit.it.Student"  autowire="constructor">
    <property name="name" value="Garvit"></property>
    </bean>
      
         <!-- 
    
    <bean id="student1" class="com.garvit.it.Student"  autowire="byType">
    <property name="name" value="Garvit"></property>
    </bean>    
      -->
    
    
    
    

    
    
  

</beans>